.container {
    display: flex;
    flex-direction:column;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #343458b5;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 541px;
}

.container:hover {
    background-color: #2a2a4c96;
}

.pokemon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.filter{
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
}

.pagination{
    display: flex;
    height: 86px;
}