.container{
    display: flex;
    flex-direction:row;
    align-content: flex-start;
    margin: 5px ;

}  
.link{
    text-align: center;
    margin: 4px;
    padding: 2px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #f1c40f;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0px 0px 4px white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #34345882;
}

.link:hover {
    color: #fbcc0e;
    text-shadow: none;
    background-color: #343458d9;
}